

<div class="lander-row lander-row--grey">
  
 
        

  <div class="container">

    <div class="row">
      <div class="col">
        <h1 class="header">R Interface to Tensorflow</h1>
        <br>
        <h2 class="text">Build, deploy and experiment easily with TensorFlow from R</h2>
      </div>
      <div class="col center">
        <a href="https://www.r-project.org"><img width=140 src="images/home/r-logo.png" alt=""></a>
      </div>
      <div class="col center">
        <a href="https://www.tensorflow.org"><img width=300 src="images/home/tensorflow-logo.svg" alt=""></a>
      </div>
    </div>
  
  </div>

</div>


<div  class="lander-row lander-row--white">
  <div class="container">
    
  
    <div class="row" style="margin-top: 15px;">
      
      <div class="col center">
        <a href="/installation">
        <h2 class="h2">Installation</h2>
        <p class="text">Get started with TensorFlow by following our detailed installation guide.</p>
        </a>
      </div>
      
      <div class="col center">
        <a href="/keras" class="image--smaller">
        <h2 class="h2">Tutorials</h2>
        </a>
        <p class="text">
          In the tutorials section you will find documentation for solving common Machine Learning problems using TensorFlow. 
        </p>
      </div>
      <div class="col center">
        <a href="/tfestimators" class="image--smaller">
          <h2 class="h2">Guide</h2>
        </a>
        <p class="text">
         The guide section contains documents with in depth explanations of how TensorFlow works.
        </p>
      </div>
    </div>
  
  </div>
</div>

<div class="lander-row lander-row--grey lander-row--small-padding">

<div class="container">

<h2 class="h2">About Tensorflow</h2>

<div class="row" style="margin-top: 0px;">
  
  
<div class="col">

<div class="text">

<a href="https://www.tensorflow.org">TensorFlow™</a>  is an open source software library for numerical computation using data flow graphs. Nodes in the graph represent mathematical operations, while the graph edges represent the multidimensional data arrays (tensors) communicated between them. The flexible architecture allows you to deploy computation to one or more CPUs or GPUs in a desktop, server, or mobile device with a single API. TensorFlow was originally developed by researchers and engineers working on the Google Brain Team within Google's Machine Intelligence research organization for the purposes of conducting machine learning and deep neural networks research, but the system is general enough to be applicable in a wide variety of other domains as well.</div>

</div>



<div class="col">
<iframe style="margin-left: 0; margin-top: 5px;" width="500" height="281" src="https://www.youtube.com/embed/NlpS-DhayQA" frameborder="0" allowfullscreen></iframe>
</div>
  
</div>

</div>

</div>

