

<div class="lander-row lander-row--grey">
  
 
        

  <div class="container">

    <div class="row">
      <div class="col">
        <h1 class="header">R Interface to Tensorflow</h1>
        <br>
        <h2 class="text">Build, deploy and experiment easily with TensorFlow from R</h2>
      </div>
      <div class="col center">
        <a href="https://www.r-project.org"><img width=140 src="images/home/r-logo.png" alt=""></a>
      </div>
      <div class="col center">
        <a href="https://www.tensorflow.org"><img width=300 src="images/home/tensorflow-logo.svg" alt=""></a>
      </div>
    </div>
  
  </div>

</div>


<div  class="lander-row lander-row--white lander-row--small-padding">
  <div class="container">
    
    <div class="text">
      <a href="https://www.tensorflow.org">TensorFlow™</a> makes it easy for beginners and experts to create machine learning models. See the sections below to get started.
    </div>  
  
  
  
    <div class="row" style="margin-top: 15px;">
      <div class="col center">
        <a href="/keras" class="image--smaller">
        <img src="images/home/keras-logo.png">  
        <h2 class="h2">For Beginners</h2>
        </a>
        <p class="text">
          The Keras API for TensorFlow provides a high-level interface for neural networks, with a focus on enabling fast experimentation.
        </p>
      </div>
      <div class="col center">
        <a href="/tfestimators" class="image--smaller">
          <img src="images/home/estimators-logo.png">
          <h2 class="h2">For experts</h2>
        </a>
        <p class="text">
         The Estimator API for TensorFlow provides high-level implementations of common model types such as regressors and classifiers.
        </p>
      </div>
      <div class="col center">
        <a href="/tensorflow" class="image--smaller">
        <img src="images/home/tensorflow-core-logo.png">  
        <h2 class="h2">Core API</h2>
        </a>
        <p class="text">
          The Core TensorFlow API is a lower-level interface that provides full access to the TensorFlow computational graph.
        </p>
      </div>
    </div>
  
  </div>
</div>

<div class="lander-row lander-row--grey lander-row--small-padding">

<div class="container">

<h2 class="h2">About Tensorflow</h2>

<div class="row" style="margin-top: 0px;">
  
  
<div class="col">

<div class="text">

<a href="https://www.tensorflow.org">TensorFlow™</a>  is an open source software library for numerical computation using data flow graphs. Nodes in the graph represent mathematical operations, while the graph edges represent the multidimensional data arrays (tensors) communicated between them. The flexible architecture allows you to deploy computation to one or more CPUs or GPUs in a desktop, server, or mobile device with a single API. TensorFlow was originally developed by researchers and engineers working on the Google Brain Team within Google's Machine Intelligence research organization for the purposes of conducting machine learning and deep neural networks research, but the system is general enough to be applicable in a wide variety of other domains as well.</div>

</div>



<div class="col">
<iframe style="margin-left: 0; margin-top: 5px;" width="500" height="281" src="https://www.youtube.com/embed/NlpS-DhayQA" frameborder="0" allowfullscreen></iframe>
</div>
  
</div>

</div>

</div>

